body {
    width: 100%;
    min-width: 931px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    display:inline-flex
}
#heading {
    width: 100%;
    min-width: 600px;
    height: 10%;
    background-color: #feffff ;
    color: white;
    margin: 0;
    position: fixed;
}
#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 5vh;
    margin-left: 25px;
    float: left;
    font-weight: bold;
    margin-top: 2vh;
}
#title:hover {
    opacity: 0.5;
}
#title a {
    text-decoration: none;
    color: #3aafa9 ;
}
#title img {
    border: 0;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
    height: 6vh;
}
nav {
    float: right;
    background-color: #3aafa9 ;
    border-radius: 5px;
    margin-right: 25px;
    padding-right: 7px;
    margin-top: 2vh;
}
nav img {
    border: 0;
    margin-left: 10px;
    margin-top: 5px;
    height: 5.5vh;
    width: 5.5vh;
}
nav img:hover {
    opacity: 0.5;
}
nav a {
    text-decoration: none;
}
#content {
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 10vh;
}
#first_block {
    width: 100%;
    background-image: url(./images/aboutme_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: auto; 
}
#aboutme {
    color: #17252a;
    background: rgb(82,221,214);
    background: linear-gradient(180deg, rgba(82,221,214,0.8004640371229699) 5%, rgba(43,122,119,0.7981438515081206) 90%);
    border-radius: 10px;
    padding: 50px 100px;
    margin: 100px 50px;
    height: 260px;
    font-weight: bold;
    font-size: 1.15em;
}
#aboutme img {
    border-radius: 25px;
    float: left;
    margin-right: 30px;
}
#aboutme p {
    margin-top: 0;
}
#titleofcontent {
    font-size: 35px;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}
#second_block {
    width: 100%;
    /*background-color: #2b7a78;*/
    background: rgb(82,221,214);
    background: radial-gradient(circle, rgba(82,221,214,1) 25%, rgba(43,122,119,1) 100%);
    overflow: auto; 
}
#currentprojects {
    color: #17252a ;
    background-color: #feffff ;
    border-radius: 10px;
    padding: 50px;
    margin: 100px 50px;
    overflow:auto;
}
#currentprojects a {
    text-decoration: none;
    color: #17252a;
    font-weight: bold;
}
#projects {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#project {
    padding: 10px;
    margin: 15px;
    width: 260px;
    border: 2px solid #2b7a78;
    border-radius: 10px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #feffff;
}
#project:hover {
    opacity: 0.7;;
}
#project h1 {
    font-size: 20px;
    margin: 0px;
    text-align: center;
}
#project p {
    font-size: 15px;
}
#third_block {
    width: 100%;
    background-image: url(./images/education_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: auto; 
}
#education {
    color: #17252a;
    background: rgb(82,221,214);
    background: linear-gradient(180deg, rgba(82,221,214,0.8004640371229699) 5%, rgba(43,122,119,0.7981438515081206) 90%);
    border-radius: 10px;
    padding: 50px 100px;
    margin: 100px 50px;
    font-weight: bold;
    overflow: auto;
    height: 280px;
}
#education table {
    margin: auto;
    width: 500px;
}
#fourth_block {
    width: 100%;
    /*background-color: #2b7a78;*/
    background: rgb(82,221,214);
    background: radial-gradient(circle, rgba(82,221,214,1) 25%, rgba(43,122,119,1) 100%);
    overflow: auto; 
}
#fourth {
    color: #17252a;
    background-color: #feffff;
    border-radius: 10px;
    padding: 50px;
    margin: 100px 50px;
    font-size: 0.8em;
}
#footer {
    background-color: #feffff;
    margin: 0;
    font-size: 14px;
    padding: 20px;
}