body {
    width: 100%;
    min-width: 931px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    display:inline-flex
}
#heading {
    width: 100%;
    min-width: 600px;
    height: 100px;
    background-color: #feffff ;
    color: white;
    margin: 0;
    padding-top: 17px;
    position: fixed;
}
#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
    margin-left: 25px;
    float: left;
    font-weight: bold;
}
#title:hover {
    opacity: 0.5;
}
#title a {
    text-decoration: none;
    color: #3aafa9 ;
}
#title img {
    border: 0;
    border-radius: 3px;
    margin-right: 10px;
}
nav {
    float: right;
    background-color: #3aafa9 ;
    border-radius: 5px;
    margin-right: 25px;
    padding-right: 7px;
}
nav img {
    border: 0;
    margin-left: 10px;
    margin-top: 5px;
}
nav img:hover {
    opacity: 0.5;
}
nav a {
    text-decoration: none;
}
#content {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 117px;
}
#first_block {
    width: 100%;
    background-image: url(./images/aboutme_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: auto; 
}
#aboutme {
    color: #17252a;
    background-color: #2b7a77b2  ;
    border-radius: 25px;
    padding: 50px;
    margin: 50px;
    height: 260px;
}
#aboutme img {
    border-radius: 25px;
    float: left;
    margin-right: 30px;
}
#aboutme p {
    margin-top: 0;
}
#titleofcontent {
    font-size: 35px;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}
#second_block {
    width: 100%;
    background-color: #2b7a78  ;
    overflow: auto; 
}
#currentprojects {
    height: 500px;
    color: #17252a ;
    background-color: #feffff ;    ;
    border-radius: 25px;
    padding: 50px;
    margin: 50px;
}
#third_block {
    width: 100%;
    background-image: url(./images/education_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: auto; 
}
#education {
    color: #17252a;
    background-color: #2b7a77b2;
    border-radius: 25px;
    padding: 50px;
    margin: 50px;
    height: 260px;
}
#fourth_block {
    width: 100%;
    background-color: #2b7a78;
    overflow: auto; 
}
#fourth {
    height: 500px;
    color: #17252a;
    background-color: #feffff;
    border-radius: 25px;
    padding: 50px;
    margin: 50px;
}